@media (max-width: 425px) {
  .promo_page .container-promo {
    display: flex;
    justify-content: center;
  }
  .d-flex.align-items-center.justify-content-between.g-4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .timer.d-flex.align-items-center.justify-content-center.gap-3 {
    flex-flow: wrap;
  }
  .offer2-section .timer .time-box {
    width: 110px;
  }
  .order-btn {
    background: #fff;
    color: #e60000;
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    margin: 40px 0px;
  }
}
